@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.user {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-image {
    position: relative;
    background: url('../img/tech-circle.png') center/contain no-repeat;
    width: 100%;
    height: 100%;
}

.user-image::before,
.user-image::after {
    content: '';
    position: relative;
    top: 30%;
    display: block;
    background-color: black;
    width: 174px;
    height: 1px;
    transform: rotate(55deg) translate(-119px);
}
.user-image::after {
	right: -128px;
	transform: rotate(125deg) translate(-119px);
}


.user-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin: 0 auto;
    width: 105px;
    height: 105px;
}

.user .username {
    margin-top: 20px;
    text-align: center;
} 

.name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

.role {
    margin-top: 10px;
    
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.seccion {
    padding: 20px;
    font-size: 22px;
    text-align: center;
    background-color: #000;
    color: #ffffff;
    border-radius: 50px;
    margin-bottom: 10px;
}

.contact-info p {
    line-height: 1.8;
}

.barra-perfil,
.barra-educacion {
	position: absolute;
	top: -122px;
	left: -242px;
	width: 213px;
	height: 1px;
	background-color: black;
	transform: rotate(11deg);
}

.barra-educacion {
	left: unset;
	right: -243px;
	top: -120px;
	transform: rotate(-11deg);
}

.barra-habilidades,
.barra-experiencia {
	position: absolute;
	top: 110px;
	left: -191px;
	width: 238px;
	height: 1px;
	background-color: black;
    transform: rotate(-7deg);
}

.barra-experiencia {
    left: unset;
    right: -191px;
    transform: rotate(7deg);
}

.perfil {
	position: absolute;
	top: -175px;
	left: -420px;
    text-align: center;
    width: 300px;
}

.perfil p {
    text-align: center;
}

.educacion {
    position: absolute;
    top: -175px;
    right: -420px;
    width: 300px;
    text-align: center;
}

.educacion p .fa-gavel {
    margin-top: 10px;
}

.instituto {
    font-weight: bold;
}

.habilidades {
	position: absolute;
	top: 98px;
	left: -361px;    
    text-align: center;
}


.habilidades ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.experiencia {
    position: absolute;
    top: 98px;
    right: -342px;
    text-align: center;
}

.web-development:hover,
.power-bi:hover,
.email:hover,
.fab.fa-linkedin:hover,
.fab.fa-twitter:hover,
.fab.fa-github:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media(max-width: 1190px) {

    body {
        width: 900px;
        font-size: 14px;
        margin: 0 auto;
    }

    .perfil p {
        margin-left: 30px;
    }

    .habilidades {
        left: -344px;
    }

    .experiencia {
        right: -333px;
    }
}

@media(max-width: 1100px) {
    .barra-perfil {
        top: -116px;
        left: -174px;
        width: 144px;
    }
    
    .barra-educacion {
        top: -114px;
        right: -175px;
        width: 144px;

    }

    .barra-habilidades {
        left: -109px;
        width: 152px;
    }

    .barra-experiencia {
        right: -109px;
        width: 152px;
    }

    .perfil {
        left: -350px;
    }

    .educacion {
        right: -350px;
    }

    .habilidades {
        left: -260px;
    }

    .experiencia {
        right: -252px;
    }

}

@media(max-width: 970px) {
    .barra-perfil {
        top: -111px;
        left: -130px;
        width: 100px;
    }

    .barra-educacion {
	    top: -110px;
	    right: -131px;
	    width: 100px;
    }

    .barra-habilidades {
        left: -86px;
        width: 130px;
    }

    .barra-experiencia {
        right: -86px;
        width: 130px;
    }

    .perfil {
        left: -298px;
        top: -146px;
    }

    .educacion {
        right: -298px;
        top: -146px;
    }

    .habilidades {
        left: -238px;
    }

    .experiencia {
        right: -227px;
    }
}

.isMobile {
    display: none;
}

@media(max-width: 900px) {
    body {
        display: block;
        overflow: unset;
        height: auto;
        width: unset;
        padding-top: 50px;
        padding-bottom: 1100px;
    }
    .barra-perfil, 
    .barra-habilidades,
    .barra-educacion,
    .barra-experiencia {
        display: none;
    }

    .user-image::before, 
    .user-image::after {
        display: none;
    }

    .container {
        display: block;
        margin: 0 auto;
        padding: 10px;
    }

    .user {
        display: flex;
        flex-direction: column;
        width: unset;

    }
    
    .user-image {
        position: unset;
        
    }
        
    .user-image img {
        position: absolute;
        top: 167px;
        width: 150px;
        height: 150px;
    }

    .isDesktop {
        display: none;
    }

    .isMobile {
        display: flex;
        padding-top: 410px;
    }
    
    .perfil {
        position: unset;
        width: unset;
    }
    
    .perfil p {
        text-align: justify;
        max-width: 350px;
        margin: 0 auto;
        padding-top: 10px;
    }
    .educacion {
        position: unset;
        width: unset;
        padding-top: 20px;
    }
    
    .educacion p .fa-gavel {
        margin-top: 10px;
    }
    
    .habilidades {
        position: unset;
        width: unset;
        padding-top: 30px;
    }
    
    
    .habilidades ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        text-align: left;
    }

    .habilidades ul li {
        line-height: 1.8;
        text-align: center;
    }
    
    .experiencia {
        position: unset;
        padding-top: 30px;
        margin-bottom: 100px !important;
    }

}

@media (max-width: 320px) {

    .user-image img {
        width: 105px;
        height: 105px;
    }

    .contact-info{
        text-align: center;
    }
}