@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.user {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-image {
    position: relative;
    background: url('../img/tech-circle.png') center/contain no-repeat;
    width: 100%;
    height: 100%;
}

.user-image::before,
.user-image::after {
    content: '';
    position: relative;
    top: 30%;
    display: block;
    background-color: black;
    width: 174px;
    height: 1px;
    transform: rotate(55deg) translate(-119px);
}
.user-image::after {
	right: -128px;
	transform: rotate(125deg) translate(-119px);
}


.user-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin: 0 auto;
    width: 105px;
    height: 105px;
}

.user .username {
    margin-top: 20px;
    text-align: center;
} 

.name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

.role {
    margin-top: 10px;
    
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.seccion {
    padding: 20px;
    font-size: 22px;
    text-align: center;
    background-color: #000;
    color: #ffffff;
    border-radius: 50px;
    margin-bottom: 10px;
}

.contact-info p {
    line-height: 1.8;
}

.barra-perfil,
.barra-educacion {
	position: absolute;
	top: -122px;
	left: -242px;
	width: 213px;
	height: 1px;
	background-color: black;
	transform: rotate(11deg);
}

.barra-educacion {
	left: unset;
	right: -243px;
	top: -120px;
	transform: rotate(-11deg);
}

.barra-habilidades,
.barra-experiencia {
	position: absolute;
	top: 110px;
	left: -191px;
	width: 238px;
	height: 1px;
	background-color: black;
    transform: rotate(-7deg);
}

.barra-experiencia {
    left: unset;
    right: -191px;
    transform: rotate(7deg);
}

.perfil {
	position: absolute;
	top: -175px;
	left: -420px;
    text-align: center;
    width: 300px;
}

.perfil p {
    text-align: center;
}

.educacion {
    position: absolute;
    top: -175px;
    right: -420px;
    width: 300px;
    text-align: center;
}

.educacion p .fa-gavel {
    margin-top: 10px;
}

.instituto {
    font-weight: bold;
}

.habilidades {
	position: absolute;
	top: 98px;
	left: -361px;    
    text-align: center;
}


.habilidades ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.experiencia {
    position: absolute;
    top: 98px;
    right: -342px;
    text-align: center;
}